<% if defined? debug_response %>
    <%= debug_response.to_json %>
<% end %>

<link rel="stylesheet" type="text/css" href="/stylesheets/foundation.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

<div class="intro">
<div class="row init">
    <div class="twelve columns">
      <h1>Fashion Deck</h1>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h4>Create and share your fashion brand's EXPERIENCE</h4>
    </div>
<div>

<div class=" nine columns centered">
  <form action="/" method="post">

  <div class="row">
    <div class="four mobile-one columns">
      <label class="right inline"></label>
    </div>
    <div class="eight mobile-three columns">
        <br />
      <input type="text" name="title" placeholder="Name Your Deck" class="eight" />
        <br />
    </div>
  </div>

 <fieldset>
        <legend>Add Your Media</legend>

  <div class="row">
    <div class="four mobile-one columns">
      <label class="right inline"><i class="ss-icon">&#xF620;
</i></label>
    </div>
    <div class="eight mobile-three columns">
      <input type="text" class="eight" name="tumblr_blog" placeholder="fashionsite.tumblr.com" />
    </div>
  </div>

  <div class="row">
    <div class="four mobile-one columns">
      <label class="right inline"><i class="ss-icon">&#xF631;
</i></label>
    </div>
    <div class="eight mobile-three columns">
      <input type="text" name="vimeo_username" class="eight" placeholder="Your vimeo username" />
    </div>
  </div>

  <div class="row">
    <div class="four mobile-one columns">
      <label class="right inline"><i class="ss-icon">&#xF6B1;
</i></label>
    </div>
    <div class="eight mobile-three columns">
      <input type="text" class="eight" name="spotify_playlist" placeholder="Spotify Playlist" />
    </div>
  </div>

  <!--
  <div class="row">
    <div class="four mobile-one columns">
      <label class="right inline"><i class="ss-icon ss-social">Instagram
</i></label>
    </div>
    <div class="eight mobile-three columns">
      <input type="text" class="eight" name="logo" placeholder="Url of Your Logo" />
    </div>
  </div>
  -->

</fieldset>

 <fieldset>
        <legend>Sell on Etsy?</legend>

  <div class="row">
    <div class="four mobile-one columns">
        <label class="right inline"><i class="icon"><img src="/images/etsy.png" /></i></label>
    </div>
    <div class="eight mobile-three columns">
      <input type="text" name="etsy_shop_id" class="eight" placeholder="Etsy Store Id" />
    </div>
  </div>
</fieldset>

<div class="row twelve columns">

  <div class="three columns offset-by-seven">
    <button type="submit" class="radius large button right">Build It!</button>
  </div>
</div>
</div>

</div>


</div>
</div>
  
</div>

<script type="text/javascript">

$(document).ready(function() {

    $.cloudinary.config({
        "api_key":"<%= @cloudinary_api_key %>",
        "cloud_name":"<%= @cloudinary_name %>"
    });

    var uploader = $('.cloudinary-fileupload');

    $(uploader).bind('cloudinarydone', function(e, data) {  
        
        if(console) { console.log(data); }

        $('#userimg').val(data.result.public_id + "." + data.result.format);    

        var previewImage = $.cloudinary.image(data.result.public_id, {
            format: data.result.format, 
            version: data.result.version, 
            crop: 'scale', 
            width: 320,
            height: 320 
        });    

        $('.preview').html(previewImage);
           
        return true;
    });

    $(uploader).bind('fileuploadstart', function(e,data) {
        $('.preview').spin();
        if(console) { console.log(data); }
    });
    $(uploader).bind('fileuploadfail', function(e,data) {
        if(console) { console.log(data); }
    });

});

</script> 


