<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->  
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
        <title><%= @title %></title>

		<script type="text/javascript">
			/*<![CDATA[*/
			document.getElementsByTagName('html')[0].className = 'js';
			/*]]>*/
		</script>

        <link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/webfonts/ss-social.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />

	</head>
	<body class=''>
        
        <%= yield %>

		<script type="text/javascript" src="/javascripts/app.js"></script>
	</body>
</html>


