<br />
<br />
<a href="/">Create New</a>
<br />
<br />
<br />
<h1><%= @data['title'] %></h1>

<% if @data['tumblr_blog'] != "" %>

    <h2>Tumblr</h2>

    <% @tumblr_posts['response']['posts'][0..3].each do |post| %>
        <% if post["photos"] %>
            <img style="max-height: 300px" src="<%= post["photos"].first["alt_sizes"].first["url"] %>" alt="<%= post["id"] %>" />
        <% end %>
    <% end %>

<% end %>

<% if @data['vimeo_username'] != "" %>

    <h2>Vimeo</h2>

    <% @vimeo_videos[0..3].each do |video| %>
        <div>
        <iframe src="http://player.vimeo.com/video/<%= video["id"] %>" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    <% end %>

<% end %>
