@import "helpers";

$photo_padding: 20px;

html, body { 
    height: 100%;
    width: 100%;
    min-height: 100%;
    background: black;
    color: #fff;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: scale_leading(18px); 
}
a {
    color: #CCC;
    text-decoration: none;
}

header {
    height: 100px;
    text-align: center;
    h1 {
        font-size: 48px;
        padding-top: 40px;
    }
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 100;
}
#slot {
    height: 140px;
    width: 100%;
}
#photos {
    height: 500px;
    width: 200%;
    overflow: hidden;
    .photo {
        float: left;
        img {
            max-height: 500px;
        }
    }
}

.product {
    float: left;
    position: relative;
    width: 570px;
    height: 432px;
    background-color: #000;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    h4 {
        position: absolute;
        @include horizontal_center(570px);
        text-align: center;
        bottom: 0px;
        font-size: 28px;
        color: #FFF;
        padding-top: 20px;
        padding-bottom: 20px;
        @include translucent(0.8);
        background-color:#000;
    }
    img {
        position: absolute;
        width: 570px;
    }
}

.create-link {
    position: absolute;
    right: 10px;
    top: 10px;
}
