@import "helpers";

$photo_padding: 20px;

html, body { 
    height: 100%;
    width: 100%;
    min-height: 100%;
    background: black;
    color: #fff;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: scale_leading(18px); 
}
a {
    color: #CCC;
    text-decoration: none;
    &:hover { color: #fff; }
}

header {
    height: 140px;
    h1 {
        font-size: 48px;
        padding-top: 60px;
        padding-left: 40px;
    }
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 100;
    &.hasmusic h1{
    }
    #music {
        position: absolute;
        right: 40px;
        top: 30px;
    }

}
#slot {
    height: 140px;
    width: 100%;
}
#photos {
    width: 100%;
    overflow: hidden;
    height: 500px;
    .slider {
        width: 200%;
        float: left;
    }
    .photo {
        float: left;
        img {
            max-height: 500px;
        }
    }
}

.product {
    float: left;
    display: block;
    position: relative;
    width: 570px;
    height: 432px;
    background-color: #000;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    h4 {
        position: absolute;
        @include horizontal_center(570px);
        text-align: center;
        bottom: 0px;
        font-size: 28px;
        color: #eee;
        padding-top: 20px;
        padding-bottom: 20px;
        @include translucent(0.8);
        background-color:#000;
    }
    img {
        position: absolute;
        width: 570px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover img {
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        transform:scale(1.2);
    }
    &:hover h4 {
        color: #fff;
    }
}

.create-link {
    position: absolute;
    left: 10px;
    top: 10px;
}

#products {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}
