.clear {
  clear: both; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  background: black;
  color: #fff; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24.3px; }

a {
  color: #CCC;
  text-decoration: none; }
  a:hover {
    color: #fff; }

header {
  height: 140px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 100; }
  header h1 {
    font-size: 48px;
    padding-top: 60px;
    padding-left: 40px; }
  header #music {
    position: absolute;
    right: 40px;
    top: 30px; }

#slot {
  height: 140px;
  width: 100%; }

#photos {
  width: 100%;
  overflow: hidden;
  height: 500px; }
  #photos .slider {
    width: 200%;
    float: left; }
  #photos .photo {
    float: left; }
    #photos .photo img {
      max-height: 500px; }

.product {
  float: left;
  display: block;
  position: relative;
  width: 570px;
  height: 432px;
  background-color: #000;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden; }
  .product h4 {
    position: absolute;
    text-align: center;
    bottom: 0px;
    font-size: 28px;
    color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$amount * 100)";
    filter: alpha(opacity=80);
    background-color: #000; }
    @media screen and (min-width: 570px) {
      .product h4 {
        position: absolute;
        margin-left: 50%;
        left: -285px;
        width: 570px; } }
  .product img {
    position: absolute;
    width: 570px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .product:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  .product:hover h4 {
    color: #fff; }

.create-link {
  position: absolute;
  left: 10px;
  top: 10px; }

#products {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto; }
